* {
	box-sizing: border-box;
}

p {
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

.strelka {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #66b36d;
    position: fixed;
    top: 550px;
    right: 10px;
    border-radius: 3px;
}

.strelka img {
    width: 30px;
    height: 40px;

}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 72px;
	box-shadow: 0 -3px 10px rgb(0 0 0 / 30%);
	z-index: 110;
}

.container {
	max-width: 1124px;
	width: 1124px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
}

.header__nav {
	display: flex;
	justify-content: space-between;
}

.header__link {
	width: 80px;
	padding: 12px 0;
	border: 1px solid silver;
	text-align: center;
	margin-left: 20px;
	color: #000;
    text-decoration: none;
    font-size: 14px;
    font-weight: bolder;
}

.header__img {
	margin-left: 20px;
	margin-right: 23px;
}
/*     INTRO      */

.intro {
	height: 364px;
	background-image: url('../images/11.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.min-card {
	position: absolute;
	top: 155px;
	width: 389px;
	height: 204px;
	background-color: #fff;
	border-radius: 2px;
}

.min-card__content {
	display: flex;
	flex-direction: column;
}

.min-card__title {
	font-size: 33px;
	font-weight: bold;
	text-align: center;
	padding: 38px 38px 54px 38px;
}

.min-card__elem {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.min-card__price {
	color: #626262;
	font-size: 14px;
}

.min-card__time {
	padding: 8px 16px 8px 16px;
	background: #262626;
	border-radius: 16px;
	color: #fff;
}

/* CONTENT */

.restor__content {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	border: 1px solid rgba(117, 117, 117, 0.2);
}

.restor__content__nav {
	display: flex;
	flex-wrap: wrap;
}

.restor__content__link:not(:first-child) {
	color: #626262;
	margin-left: 40px;
	text-decoration: none;
}

.restor__content__link:first-child {
	color: green;
	text-decoration: none;
}

.restor__menu__text {
	font-size: 22px;
	margin-top: 56px;
}

.restor {
	display: flex;
	justify-content: center;
	padding-bottom: 80px;
}

.restor__price {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.restor__price__block {
	display: flex;
	flex-direction: row;
	width: 470px;
	height: 160px;
	border: 1px solid rgba(117, 117, 117, 0.2);
	border-radius: 2px;
	box-sizing: border-box;
	margin: 32px 16px 0 0;
}

.restor__price__elem {
	display: flex;
	flex-basis: 300px;
	flex-direction: column;
	padding: 16px 0px 16px 16px;
}

.restor__price__elem__text {
	font-size: 16px;
	color: #1D1D1D;
}

.restor__price__elem__subtext {
	color: #626262;
	font-size: 13px;
	margin-top: 4px;
	white-space: pre;
}

.restor__price__elem__pri {
	margin-top: 68px;
	font-size: 15px;
	font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #262626;
}

.footer__logo {
    margin-left: 3%;
    margin-top: 47px;
}

.footer-line {
    width: 94%;
    height: 1px;
    background-color: #fff;
    margin-left: 3%;
    opacity: 0.4;
    margin-top: 47px;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: 4%;
}

.footer-content__info {
    margin-left: 3%;
    flex-basis: 350px;
}

.footer-content__about {
    flex-basis: 350px;
}

.footer-content__menu {
    flex-basis: 200px;
}

.footer-content__language {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 40px;
    background-color: #4e524f;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;

}

.footer-content__social {
    margin-top: 55px;
    margin-left: 6%;
}

.language__img {
    margin-left: 5%;
}

.rus {
   flex-basis: 180px;
   margin-left: 20px;
}

.footer-content__social p span {
    color: green;
}

.footer-content__social p {
    color: #fff;
}

.social__img {
    margin-left: 10px;
}


.footer-content__about ul li, .footer-content__menu ul li {
    margin-top: 30px;
    list-style: none;
    color: #fff;
    font-size: 15px;
}

.footer-install {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}


.footer-lnc {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer-lnc {
    font-size: 14px;
    color: #fff;
}

.bl1 {
    flex-basis: 387px;
    margin-left: 3%;
}

.bl2 {
    flex-basis: 359px;
}