body{
    padding: 10px;
    margin: 5px;
}

input, textarea, button{
    margin: 5px;
}
form{
    width: 50%;
    border: 1px dotted black;
    padding: 10px;
    margin: 10px 0px;
}
article{
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid black;
}
#redish label{
    border: 1px solid red;
}
fieldset{
    margin-bottom: 30px;
}
#t1{
    resize: both;
}
#t2{
    resize: horizontal;
}
#t3{
    resize: vertical;
}
#t4{
    resize: none;
}